/* Text style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  background-color: black;
  color: white;
}

li,
a{
font-family: "montserrat", sans-serif;
font-weight: 500;
font-size: 18px;
color: white;
text-decoration: none;
}

.home {
  height: 100vh;
  background: url();
  display: flex;
  align-items: center;
  padding: 0 0%;
  background:rgb(0,0,0,0.8) url("https://cdn.shopify.com/s/files/1/0465/5549/6598/files/The-Right-Home-Music.jpg?v=1623318672");
  background-blend-mode: darken;
}

.logo {
font-family: "montserrat", sans-serif;
font-size: 30px;
resize: none;
margin-left: 20px;
color: #ffffff;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  padding: 0% 0%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Audio Button */

.primary-button {
font-family: 'Ropa Sans', sans-serif;
color: white;
cursor: pointer;
font-size: 13px;
font-weight: bold;
letter-spacing: 0.05rem;
border: 1px solid #0E1822;
padding: 0.8rem 2.1rem;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
background-color: #0E1822;
background-size: 200%;
background-position: 200%;
background-repeat: no-repeat;
transition: 0.3s ease-in-out;
transition-property: background-position, border, color;
position: relative;
z-index: 1;
}

.primary-button:hover {
border: 1px solid #FF4655;
color: white;
background-position: 40%;
}

.primary-button:before {
content: "";
position: absolute;
background-color: #0E1822;
width: 0.2rem;
height: 0.2rem;
top: -1px;
left: -1px;
transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
background-color: white;
}

.primary-button:hover:after {
background-color: white;
}

.primary-button:after {
content: "";
position: absolute;
background-color: #FF4655;
width: 0.3rem;
height: 0.3rem;
bottom: -1px;
right: -1px;
transition: background-color 0.15s ease-in-out;
}

/* FM1 */

.button-bordersfm1 {
  position: fixed;
  margin-left: 109px;
  margin-top: 22%;
}

.button-bordersfm1 {
position: relative;
width: fit-content;
height: fit-content;
}

.button-bordersfm1:before {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
top: -0.3em;
border: 1px solid #0E1822;
border-bottom: 0px;
 /* opacity: 0.3; */
}

.button-bordersfm1:after {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
bottom: -0.3em;
border: 1px solid #0E1822;
border-top: 0px;
 /* opacity: 0.3; */
z-index: 0;
}

.shape {
fill: #0E1822;
}

/* FM2 */

.button-bordersfm2 {
  position: fixed;
  margin-left: 945px;
  margin-top: 22%;
}

.button-bordersfm2 {
position: relative;
width: fit-content;
height: fit-content;
}

.button-bordersfm2:before {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
top: -0.3em;
border: 1px solid #0E1822;
border-bottom: 0px;
 /* opacity: 0.3; */
}

.button-bordersfm2:after {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
bottom: -0.3em;
border: 1px solid #0E1822;
border-top: 0px;
 /* opacity: 0.3; */
z-index: 0;
}

.shape {
fill: #0E1822;
}

/* RP1 */

.button-bordersrp1 {
  position: fixed;
  margin-left: -47.5%;
  margin-top: 32%;
}

.button-bordersrp1 {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.button-bordersrp1:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0E1822;
  border-bottom: 0px;
}

.button-bordersrp1:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0E1822;
  border-top: 0px;
  z-index: 0;
}

.rp1 {
  position: fixed;
  margin-left: 0;
  width: 300px;
  margin-top: 0;
}



/* image */

/* FM1 */

.fm1 {
  position: fixed;
  margin-top: -10%;
}


/* pbs */
.pbs {
  position: fixed;
  margin-left: 38.5%;
  width: 300px;
  margin-top: -20%;
}

.rp1 {
  position: fixed;
  margin-left: 38.5%;
  width: 300px;
  margin-top: 10%;
}

/* FM2 */

.fm2 {
  position: fixed;
  width: 300px;
  margin-left: 1060px;
  margin-top: -10%;
}

/* Responsive changes */
  
@media screen and (max-width: 320px) {

    .home {
      height: 100vh;
      background: url();
      display: flex;
      align-items: center;
      padding: 0 0%;
      background:rgb(0,0,0,0.8) url("https://cdn.shopify.com/s/files/1/0465/5549/6598/files/The-Right-Home-Music.jpg?v=1623318672");
      background-blend-mode: darken;
    }


  .logo {
    font-family: "montserrat", sans-serif;
    font-size: 30px;
    resize: none;
    margin-left: 10px;
    color: antiquewhite;
    }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 0% 0%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


/* FM1 */

.fm1 {
  position: fixed;
  margin-top: -90%;
  width: 150px;  
  margin-left: 65px;
}

.button-bordersfm1 {
  position: fixed;
  margin-left: 92px;
  margin-top: -28%;
}


/* pbs */
.pbs {
  position: fixed;
  width: 0px;
  margin-left: 0%;
}


/* FM2 */



.fm2 {
  position: fixed;
  width: 150px;
  margin-left: 65px;
  margin-top: 40%;
  
}

.button-bordersfm2 {
  position: fixed;
  margin-left: 92px;
  margin-top: 110%;
}

/* RP1 */

.rp1 {
  position: fixed;
  margin-left: 38.5%;
  width: 300px;
  margin-top: 10%;
}

.button-bordersrp1 {
  position: fixed;
  margin-left: -47.5%;
  margin-top: 32%;
}

      
    }

    @media screen and (max-width: 1024px) { 
          
      .home {
        height: 100vh;
        background: url();
        display: flex;
        align-items: center;
        padding: 0 0%;
        background:rgb(0,0,0,0.8) url("https://cdn.shopify.com/s/files/1/0465/5549/6598/files/The-Right-Home-Music.jpg?v=1623318672");
        background-blend-mode: darken;
      }
      
                    header {
                      position: fixed;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 8%;
                      padding: 0% 0%;
                      background: black;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                    }
              
                    .logo {
                      font-family: "montserrat", sans-serif;
                      font-size: 40px;
                      resize: none;
                      margin-left: 10px;
                      color: #ffffff;
                      }
                  
                  /* FM1 */
                  
                  .fm1 {
                    position: fixed;
                    margin-top: -10%;
                    width: 200px;  
                    margin-left: 10%;
                  }
                  
                  .button-bordersfm1 {
                    position: fixed;
                    margin-left: 14.7%;
                    margin-top: 20%;
                  }
                  
                  
                  /* pbs */
                  .pbs {
                    position: fixed;
                    width: 200px; 
                    margin-left: 42%;
                    margin-top: -15%;
                  }
                  
                  
                  /* FM2 */
                  
                  .fm2 {
                    position: fixed;
                    margin-top: -10%;
                    width: 200px;  
                    margin-left: 71%;
                    
                  }
                  
                  .button-bordersfm2 {
                    position: fixed;
                    margin-left: 76%;
                    margin-top: 20%;
                  }

                  /* RP1 */

                  .rp1 {
                    position: fixed;
                    margin-left: 37.6%;
                    width: 300px;
                    margin-top: 20%;
                  }

                  .button-bordersrp1 {
                    position: fixed;
                    margin-left: 46.5%;
                    margin-top: 47%;
                  }
                  
                        
                      }

    @media screen and (max-width: 480px) { 
    
          header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 8%;
            padding: 0% 0%;
            background: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
    
          .logo {
            font-family: "montserrat", sans-serif;
            font-size: 15px;
            resize: none;
            margin-left: 10px;
            color: #ffffff;
            }
        
        /* FM1 */
        
        .fm1 {
          position: fixed;
          margin-top: -70%;
          width: 200px;  
          margin-left: 0%;
        }
        
        .button-bordersfm1 {
          position: fixed;
          margin-left: 46.8px;
          margin-top: 5%;
        }
        
        
        /* pbs */
        .pbs {
          position: fixed;
          width: 150px; 
          margin-left: 30%;
          margin-top: 170%;
        }
        
        
        /* FM2 */
        
        .fm2 {
          position: fixed;
          margin-top: -70%;
          width: 200px;  
          margin-left: 46%;
          
        }
        
        .button-bordersfm2 {
          position: fixed;
          margin-left: 59%;
          margin-top: 5%;
        }
        
        .rp1 {
          position: fixed;
          margin-left: 23%;
          width: 200px;
          margin-top: 60%;
        }
        
        .button-bordersrp1 {
          position: fixed;
          margin-left: 35.5%;
          margin-top: 110%;
        }
              
            }

    @media screen and (max-width: 1024px) { 
          
      .home {
        height: 100vh;
        background: url();
        display: flex;
        align-items: center;
        padding: 0 0%;
        background:rgb(0,0,0,0.8) url("https://cdn.shopify.com/s/files/1/0465/5549/6598/files/The-Right-Home-Music.jpg?v=1623318672");
        background-blend-mode: darken;
      }
      
                    header {
                      position: fixed;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 8%;
                      padding: 0% 0%;
                      background: black;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                    }
              
                    .logo {
                      font-family: "montserrat", sans-serif;
                      font-size: 40px;
                      resize: none;
                      margin-left: 10px;
                      color: #ffffff;
                      }
                  
                  /* FM1 */
                  
                  .fm1 {
                    position: fixed;
                    margin-top: -10%;
                    width: 200px;  
                    margin-left: 10%;
                  }
                  
                  .button-bordersfm1 {
                    position: fixed;
                    margin-left: 14.7%;
                    margin-top: 20%;
                  }
                  
                  
                  /* pbs */
                  .pbs {
                    position: fixed;
                    width: 200px; 
                    margin-left: 42%;
                    margin-top: -15%;
                  }
                  
                  
                  /* FM2 */
                  
                  .fm2 {
                    position: fixed;
                    margin-top: -10%;
                    width: 200px;  
                    margin-left: 71%;
                    
                  }
                  
                  .button-bordersfm2 {
                    position: fixed;
                    margin-left: 76%;
                    margin-top: 20%;
                  }

                  /* RP1 */

                  .rp1 {
                    position: fixed;
                    margin-left: 37.6%;
                    width: 300px;
                    margin-top: 20%;
                  }

                  .button-bordersrp1 {
                    position: fixed;
                    margin-left: 46.5%;
                    margin-top: 47%;
                  }
                  
                        
                      }

            
