

body {
  background-image: url("https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?cs=srgb&dl=pexels-pixabay-164938.jpg&fm=jpg");
  background-size: cover;

}


/* Text style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li,
a{
font-family: "montserrat", sans-serif;
font-weight: 500;
font-size: 18px;
color: white;
text-decoration: none;
}

.logo {
font-family: "montserrat", sans-serif;
font-size: 50px;
resize: none;
margin-left: 10px;
margin-top: -10px;
color: antiquewhite;
}

header {
background-color: #1C1B1B;
width: 101.29%;
margin: 10px;
margin-left: -10px;
}

/* Base */

.base {
background: rgba(0,0,0,0.25);
-webkit-backdrop-filter: blur(21px);

border: 1px solid rgba(0,0,0,0.125);
height: 5in;
width: 13.6in;
border-radius: 20px;
margin-left: 60px;
margin-top: -400px;
}




/* Audio Button */

.primary-button {
font-family: 'Ropa Sans', sans-serif;
 /* font-family: 'Valorant', sans-serif; */
color: white;
cursor: pointer;
font-size: 13px;
font-weight: bold;
letter-spacing: 0.05rem;
border: 1px solid #0E1822;
padding: 0.8rem 2.1rem;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
background-color: #0E1822;
background-size: 200%;
background-position: 200%;
background-repeat: no-repeat;
transition: 0.3s ease-in-out;
transition-property: background-position, border, color;
position: relative;
z-index: 1;
}

.primary-button:hover {
border: 1px solid #FF4655;
color: white;
background-position: 40%;
}

.primary-button:before {
content: "";
position: absolute;
background-color: #0E1822;
width: 0.2rem;
height: 0.2rem;
top: -1px;
left: -1px;
transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
background-color: white;
}

.primary-button:hover:after {
background-color: white;
}

.primary-button:after {
content: "";
position: absolute;
background-color: #FF4655;
width: 0.3rem;
height: 0.3rem;
bottom: -1px;
right: -1px;
transition: background-color 0.15s ease-in-out;
}

/* FM1 */

.button-bordersfm1 {
margin-top: 10px;
margin-left: 200px;
}

.button-bordersfm1 {
position: relative;
width: fit-content;
height: fit-content;
}

.button-bordersfm1:before {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
top: -0.3em;
border: 1px solid #0E1822;
border-bottom: 0px;
 /* opacity: 0.3; */
}

.button-bordersfm1:after {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
bottom: -0.3em;
border: 1px solid #0E1822;
border-top: 0px;
 /* opacity: 0.3; */
z-index: 0;
}

.shape {
fill: #0E1822;
}

/* FM2 */

.button-bordersfm2 {
margin-top: -45px;
margin-left: 1125px;
}

.button-bordersfm2 {
position: relative;
width: fit-content;
height: fit-content;
}

.button-bordersfm2:before {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
top: -0.3em;
border: 1px solid #0E1822;
border-bottom: 0px;
 /* opacity: 0.3; */
}

.button-bordersfm2:after {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
bottom: -0.3em;
border: 1px solid #0E1822;
border-top: 0px;
 /* opacity: 0.3; */
z-index: 0;
}

.shape {
fill: #0E1822;
}

/* image */

/* FM1 */

.fm1 {
margin-left: 90px;
}


/* FM2 */

.fm2 {
width: 320px;
margin-left: 600px;

}

/* Responsive changes */
  
@media (max-width: 1390px) {

  
  header {
    background-color: #1C1B1B;
    width: 110%;
    margin: 11px;
    margin-left: -10px;
    }
  
  .base {
    margin-top: -9in;
    margin-left: 0px;
    height: 10in;
    width: 3.7in;
  }

    /* FM1 */

  .fm1 {
    margin-left: 20px;
    }

    .button-bordersfm1 {
      margin-top: -400px;
      margin-left: 130px;
      }
    
    
    /* FM2 */
    
    .fm2 {
    width: 320px;
    margin-top: 100px;
    margin-left: 10px;

    }

    .button-bordersfm2 {
      margin-top: 400px;
      margin-left: 130px;
      }
  }
